# NumPy Basics

1. Review를 위한 단계
- 방식 : chapter04 장을 보면서 이해하고 주석 달기
- 제출 방식 : 강사가 제시한 폴더에 파일명 수정해서 제출하
- 파일명 : **step05_bookReview임동원.ipynb**

In [1]:
import numpy as np #numpy를 불러옵니다.

## The NumPy ndarray: A Multidimensional Array Object

In [2]:
data = np.random.randn(2, 3) #가우스 정규분포 형태내에 랜덤값을 부름
data

array([[ 0.61969105,  0.31094334,  0.21691299],
       [-0.94534017, -0.13698044, -1.03745321]])

In [4]:
data * 10 # 매트릭스내 값에 10을 곱함

array([[  6.19691046,   3.10943343,   2.16912987],
       [ -9.45340167,  -1.36980436, -10.37453206]])

In [5]:
data + data # 두 매트릭스를 더한 값 출력

array([[ 1.23938209,  0.62188669,  0.43382597],
       [-1.89068033, -0.27396087, -2.07490641]])

In [6]:
data.shape # 데이터 형태 출력

(2, 3)

In [7]:
data.dtype # 데이터의 속성 값

dtype('float64')

### Creating ndarrays

In [9]:
data1 = [6, 7.5, 8, 0, 1] #리스트로 데이터를 만든다
arr1 = np.array(data1) # 리스트를 array 형태로 바꾼다
arr1 # 출력

array([6. , 7.5, 8. , 0. , 1. ])

In [10]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]] # 2차원 형태의 리스트를 만든다
arr2 = np.array(data2) #numpy에 추가
arr2 # 출력

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [12]:
arr2.ndim # 차원 개수 파악

2

In [ ]:
arr2.shape # 차원의 형태

In [13]:
arr1.dtype ,arr2.dtype # 각 매트릭스 타입 파악 (float or int or string)

(dtype('float64'), dtype('int32'))

In [15]:
np.zeros(10) ,np.zeros((3, 6)) ,np.zeros((3,6,4))# 0으로 이루어진 백터나 매트릭스를 만들 떄 np.zeros를 사용함

(array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]]),
 array([[[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]]]))

In [17]:
np.arange(15) # 0 부터 14까지의 연속적인 실수로 이루어진 vector를 생성

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

### Data Types for ndarrays

In [19]:
arr1 = np.array([1, 2, 3], dtype=np.float64) # 벡터나 매트릭스를 만들때 타입을 설정할 수 있음
arr2 = np.array([1, 2, 3], dtype=np.int32)
arr1.dtype,arr2.dtype

(dtype('float64'), dtype('int32'))

In [20]:
arr = np.array([1, 2, 3, 4, 5])
arr.dtype

dtype('int32')

In [21]:
float_arr = arr.astype(np.float64)# 벡터의 타입속성을 변경할때 사용할 수 있는 명령어 astype 단 글자는 int로 못 바꿈
float_arr.dtype

dtype('float64')

In [22]:
arr = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])
arr
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

In [23]:
int_array = np.arange(10) # int 타입에 벡터
calibers = np.array([.22, .270, .357, .380, .44, .50], dtype=np.float64) #float type에 매트릭스
int_array.astype(calibers.dtype) #data.astype(float)

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

### Arithmetic with NumPy Arrays

In [25]:
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

array([[1., 2., 3.],
       [4., 5., 6.]])

In [26]:
arr * arr # 각 동일한 인덱스 위치에 값을 곱한다

array([[ 1.,  4.,  9.],
       [16., 25., 36.]])

In [27]:
arr - arr# 각 동일한 인덱스 위치에  값을 뺸다

array([[0., 0., 0.],
       [0., 0., 0.]])

In [28]:
1 / arr
arr ** 0.5

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [30]:
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr2

array([[ 0.,  4.,  1.],
       [ 7.,  2., 12.]])

In [31]:
arr2 > arr # 두 벡터 끼리 값을 비교한다

array([[False,  True, False],
       [ True, False,  True]])

### Basic Indexing and Slicing

In [33]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
arr[5]
arr[5:8]
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [35]:
arr_slice = arr[5:8]
arr_slice

array([12, 12, 12])

In [36]:
arr_slice[1] = 12345 # 인덱스 1에 해당하는 값을 바꾼다
arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8,
           9])

In [37]:
arr_slice[:] = 64 # 전체를 바꾼다
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [38]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[2]

array([7, 8, 9])

In [39]:
arr2d[0][2]
arr2d[0, 2]

3

In [40]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [41]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [42]:
old_values = arr3d[0].copy()#예비로 카피본을 만든다
arr3d[0] = 42
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [43]:
arr3d[0] = old_values
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [44]:
arr3d[1, 0] # 인덱스 입력값은 차원 수 만큼 입력이 가능함

array([7, 8, 9])

In [45]:
x = arr3d[1]
x
x[0]

array([7, 8, 9])

#### Indexing with slices

In [46]:
arr
arr[1:6]

array([ 1,  2,  3,  4, 64])

In [47]:
arr2d   # 2차원이상 부터는 axis 에 대해 염두해 두어야 한다 가장 낮은 axis가 가장 바깥쪽 차원에 해당한다
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [48]:
arr2d[:2, 1:] #첫번째 위치는 가장 바깥 쪽인 행을 의미하고 안쪽이 열을 의미 한다

array([[2, 3],
       [5, 6]])

In [49]:
arr2d[1, :2]  #2번쨰 행 에서 첫열부터 2번쨰 열까지 출력

array([4, 5])

In [57]:
arr2d[:2, 2] #첫번째 행에서 2번쨰 행까지 중 3번쨰 열만 출력

array([3, 6])

In [58]:
arr2d[:2, :1] # 인덱스에서 : 이 있고 없고의 차이가 보이는게 다름 없으면 1차원으로 보이지만 있으면 차원으로 보임

array([[1],
       [4]])

In [59]:
arr2d[:2, 1:] = 0
arr2d

array([[1, 0, 0],
       [4, 0, 0],
       [7, 8, 9]])

### Boolean Indexing

In [68]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
#names = np.array(['Bob', 'Joe', 'Will', 'Bob'])  인덱스 에러
data = np.random.randn(7, 4)
names
data

array([[-0.68395959,  1.42524696, -1.47454152, -0.74924012],
       [-0.13088198, -0.17408307,  2.19170613, -0.83758967],
       [-1.10676982,  0.01495754,  0.15987609,  1.4978272 ],
       [ 0.92299628,  0.64497031, -1.36086175, -0.06501486],
       [-0.99145091, -0.34777089,  1.83907354,  0.19738537],
       [-2.19700562,  0.11249507, -1.39615499, -1.14804076],
       [-0.90954096, -0.94485578,  1.02274876, -0.51695403]])

In [69]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [70]:
data[names == 'Bob'] #다른 매트릭스일지라도  동일한 인덱스 위치에 해당하는 값에 적용할 수 있음 여기서는 행 길이를 기준으로 일치해야 한다

array([[-0.68395959,  1.42524696, -1.47454152, -0.74924012],
       [ 0.92299628,  0.64497031, -1.36086175, -0.06501486]])

In [72]:
data[names == 'Bob', 2:] # bob행에 해당하는 값중 2번째 열 부터 출력

array([[-1.47454152, -0.74924012],
       [-1.36086175, -0.06501486]])

In [73]:
data[names == 'Bob', 3]

array([-0.74924012, -0.06501486])

In [81]:
mask = (names == 'Bob') | (names == 'Will') # &은 and 이고 | or 이다 왜 구분자만 사용 가능한지는 모르겠다
mask

array([ True, False,  True,  True,  True, False, False])

In [82]:
data[mask]

array([[-0.68395959,  1.42524696, -1.47454152, -0.74924012],
       [-1.10676982,  0.01495754,  0.15987609,  1.4978272 ],
       [ 0.92299628,  0.64497031, -1.36086175, -0.06501486],
       [-0.99145091, -0.34777089,  1.83907354,  0.19738537]])

In [83]:
data[data < 0] = 0
data

array([[0.        , 1.42524696, 0.        , 0.        ],
       [0.        , 0.        , 2.19170613, 0.        ],
       [0.        , 0.01495754, 0.15987609, 1.4978272 ],
       [0.92299628, 0.64497031, 0.        , 0.        ],
       [0.        , 0.        , 1.83907354, 0.19738537],
       [0.        , 0.11249507, 0.        , 0.        ],
       [0.        , 0.        , 1.02274876, 0.        ]])

In [84]:
data[names != 'Joe'] = 7
data

array([[7.        , 7.        , 7.        , 7.        ],
       [0.        , 0.        , 2.19170613, 0.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [7.        , 7.        , 7.        , 7.        ],
       [0.        , 0.11249507, 0.        , 0.        ],
       [0.        , 0.        , 1.02274876, 0.        ]])

### Transposing Arrays and Swapping Axes

In [ ]:
arr = np.arange(15).reshape((3, 5))
arr
arr.T # 원래는 행과 열을 바꾸는 건데 이렇게 이해하기 보다는 각각의 인덱스 값을 뒤집는다고 생각해야 차원이 늘어나도 이해가 됨

In [154]:
a = np.arange(81)
a = a.reshape((3,3,3,3))
#a(0,0,0,1)   => a(1,0,0,0)   a(2,3,2,1)    => a(1,2,3,2)
a.strides# 각 차원의 메모리 값 표시

(108, 36, 12, 4)

In [155]:
a.T.strides # transpose 했을때 변경된거 확인

(4, 12, 36, 108)

In [132]:
arr = np.random.randn(6, 3)
arr
np.dot(arr.T, arr)

array([[1.37972259, 1.65719452, 0.23767899],
       [1.65719452, 5.10695993, 1.0845558 ],
       [0.23767899, 1.0845558 , 3.22311709]])

In [135]:
arr = np.arange(16).reshape((2, 2, 4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [153]:
arr.strides

(32, 16, 4)

In [152]:
arr.transpose((1, 2,0)).strides # transppose 변경도 설정이 가능함

(16, 4, 32)

In [156]:
arr.transpose((1,0,2)).strides

(16, 32, 4)

In [161]:
arr ,arr.swapaxes(0, 2)

(array([[[ 0,  1,  2,  3],
         [ 4,  5,  6,  7]],

        [[ 8,  9, 10, 11],
         [12, 13, 14, 15]]]), array([[[ 0,  8],
         [ 4, 12]],

        [[ 1,  9],
         [ 5, 13]],

        [[ 2, 10],
         [ 6, 14]],

        [[ 3, 11],
         [ 7, 15]]]))

In [162]:
arr.swapaxes(0,2).strides

(4, 16, 32)

## Universal Functions: Fast Element-Wise Array Functions

In [175]:
arr = np.arange(10)
arr
np.sqrt(arr) # 제곱근

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [164]:
x = np.random.randn(8)
y = np.random.randn(8)
x
y
np.maximum(x, y)

array([-0.34427445,  0.49665698,  0.4624004 ,  0.53488479,  1.26643588,
        1.88456251, -0.59078823,  1.32628828])

In [177]:
arr = np.random.randn(7) * 5
arr

array([ 5.08652284,  3.57039315, -1.95247315,  3.73274604,  4.33163587,
        7.22886636, -8.95650981])

In [178]:
remainder, whole_part = np.modf(arr) # modf 란 소수에서 1자리와 그 밑을 분리한다
remainder ,whole_part

(array([ 0.08652284,  0.57039315, -0.95247315,  0.73274604,  0.33163587,
         0.22886636, -0.95650981]), array([ 5.,  3., -1.,  3.,  4.,  7., -8.]))

In [179]:
arr

array([ 5.08652284,  3.57039315, -1.95247315,  3.73274604,  4.33163587,
        7.22886636, -8.95650981])

In [180]:
np.sqrt(arr) #nan 이 나오는 이유는 음수의 제곱근은 허수이기 때문이다

C:\Users\Playdata\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

array([2.25533209, 1.8895484 ,        nan, 1.93203158, 2.08125824,
       2.68865512,        nan])

In [181]:
np.sqrt(arr, arr)

C:\Users\Playdata\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

array([2.25533209, 1.8895484 ,        nan, 1.93203158, 2.08125824,
       2.68865512,        nan])

In [182]:
arr

array([2.25533209, 1.8895484 ,        nan, 1.93203158, 2.08125824,
       2.68865512,        nan])

### Expressing Conditional Logic as Array Operations

In [185]:
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

In [189]:
result = [(x if c else y) for x, y, c in zip(xarr, yarr, cond)]
result

[1.1, 2.2, 1.3, 1.4, 2.5]

In [190]:
result = np.where(cond, xarr, yarr)# 위에 코드를 numpy 버전으로 바꿈
result

array([1.1, 2.2, 1.3, 1.4, 2.5])

In [191]:
arr = np.random.randn(4, 4)
arr

array([[-0.43612016,  0.10502233, -0.08970355, -0.4522609 ],
       [-0.84039128, -0.22595858, -1.69856505,  0.76861206],
       [-0.50755903, -0.20789691,  1.41423423, -1.54392409],
       [ 1.40583516, -0.00559141, -1.55339578,  0.57923314]])

In [193]:
arr > 0
np.where(arr > 0, 1, -2)

array([[-2,  1, -2, -2],
       [-2, -2, -2,  1],
       [-2, -2,  1, -2],
       [ 1, -2, -2,  1]])

In [194]:
np.where(arr > 0, 2, arr) # 0 넘는 것만 2로 바꾸고 나머진 arr

array([[-0.43612016,  2.        , -0.08970355, -0.4522609 ],
       [-0.84039128, -0.22595858, -1.69856505,  2.        ],
       [-0.50755903, -0.20789691,  2.        , -1.54392409],
       [ 2.        , -0.00559141, -1.55339578,  2.        ]])

### Mathematical and Statistical Methods

In [195]:
arr = np.random.randn(5, 4)
arr

array([[-0.40682299,  0.36530836,  0.49138946,  0.50129975],
       [ 1.16617689,  0.65052509,  0.18691121, -0.20169951],
       [-1.24117535, -0.00880631, -1.3942447 ,  0.1711535 ],
       [-1.41376401, -1.1578189 , -0.31318165, -0.34960463],
       [ 0.22075397, -0.8609065 , -0.47233162,  0.08811113]])

In [198]:
arr.mean(),np.mean(arr) # 평균값 구하는 2가지 방법

(-0.19893634056428255, -0.19893634056428255)

In [200]:
arr.sum() # 전체합

-3.978726811285651

In [203]:
arr.mean(axis=1), arr.sum(axis = 1) #열끼리 합 평균

(array([ 0.23779365,  0.45047842, -0.61826822, -0.8085923 , -0.25609325]),
 array([ 0.95117458,  1.80191368, -2.47307287, -3.23436919, -1.02437302]))

In [204]:
arr.sum(axis=0),arr.mean(axis = 0)  #행끼리 합 평균

(array([-1.6748315 , -1.01169826, -1.50145729,  0.20926024]),
 array([-0.3349663 , -0.20233965, -0.30029146,  0.04185205]))

In [205]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7])
arr.cumsum() # fibonacci 생각하면 됨

array([ 0,  1,  3,  6, 10, 15, 21, 28], dtype=int32)

In [207]:
arr = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
arr
arr.cumsum(axis=0)

array([[ 0,  1,  2],
       [ 3,  5,  7],
       [ 9, 12, 15]], dtype=int32)

In [209]:
arr.cumprod(axis=0) #행이나 열 끼리 곱함

array([[ 0,  1,  2],
       [ 0,  4, 10],
       [ 0, 28, 80]], dtype=int32)

### Methods for Boolean Arrays

In [210]:
arr = np.random.randn(100)
(arr > 0).sum() # Number of positive values

49

In [212]:
bools = np.array([False, False, True, False])
bools.any()

True

In [213]:
bools.all()

False

### Sorting

In [214]:
arr = np.random.randn(6)
arr

array([-0.11725061, -1.84396589,  1.42180865, -0.40204498, -0.98955562,
        0.16992568])

In [215]:
arr.sort() # 정렬 
arr

array([-1.84396589, -0.98955562, -0.40204498, -0.11725061,  0.16992568,
        1.42180865])

In [216]:
arr = np.random.randn(5, 3)
arr

array([[ 0.76933635,  0.11790678, -0.31354443],
       [-0.68418293,  2.38034024,  0.35659712],
       [ 1.43011104,  0.57642895, -0.1574705 ],
       [-0.35604371, -0.20495422,  1.464047  ],
       [-1.1201896 ,  0.19096128, -1.43997589]])

In [217]:
arr.sort(1)
arr

array([[-0.31354443,  0.11790678,  0.76933635],
       [-0.68418293,  0.35659712,  2.38034024],
       [-0.1574705 ,  0.57642895,  1.43011104],
       [-0.35604371, -0.20495422,  1.464047  ],
       [-1.43997589, -1.1201896 ,  0.19096128]])

In [224]:
large_arr = np.random.randn(10000000)
large_arr.sort()

In [225]:
large_arr[int(0.05 * len(large_arr))] # random.randn가 가우스 분포에 안에서 적용되므로 정렬을 하면 각 비율 값을 뽑을수 있다

-1.644791690803766