전국 신규 민간 아파트 분양 가격 동향 자료 전처리 및 분석

1. 데이터 : 공공데이터 포탈에서 제공, 2015년 10월 부터 2018년 7월까지의 주택분양 가격 정보 제공
- 참고 - 파일명 수정된 상태(한글 파일 -> 영문과 숫자)
- * 한국 데이터셋 파일들 : 인코딩 수정 또는 확인(cp949, euc-kr : utf-8형식으로 변환 및 재저장)
- 단순 경고등이 발생(skip 명령어 적용)

In [1]:
#단순 경고 메세지 skip할 수 있게 하는 설정
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import re

2015년 1월~18년 7월까지의 신규 아파트 분양 정보 확인 및 전처리 (평당 분양가격등도 추가)

In [5]:
#avg18.07.csv 파일을 read : 변수명 pre_sale
pre_sale = pd.read_csv('/0.ITstudy/9.Pandas/aptPriceDataSet/avg18.07.csv',encoding="utf-8")
pre_sale

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
5     인천                 전체  2015  10    3163
6     인천         전용면적 60㎡이하  2015  10    3488
7     인천   전용면적 60㎡초과 85㎡이하  2015  10    3119
8     인천  전용면적 85㎡초과 102㎡이하  2015  10    3545
9     인천        전용면적 102㎡초과  2015  10    3408
10    경기                 전체  2015  10    3138
11    경기         전용면적 60㎡이하  2015  10    3126
12    경기   전용면적 60㎡초과 85㎡이하  2015  10    3239
13    경기  전용면적 85㎡초과 102㎡이하  2015  10    3496
14    경기        전용면적 102㎡초과  2015  10    3680
15    부산                 전체  2015  10    3112
16    부산         전용면적 60㎡이하  2015  10    2950
17    부산   전용면적 60㎡초과 85㎡이하  2015  10    2999
18    부산  전용면적 85㎡초과 102㎡이하  2015  10    2957
19    부산        전용면적 102㎡초과  2015  10    3500
20    대구                 전체  2015  10    2682
21    대구         전용면적 60㎡이하  2015  10    2614
22    대구   전용면적 60㎡초과 85㎡이하  2015  10    2696
23    대구  전용면적 85㎡초과 102㎡이하  2015  10    2557
24    대구        전용면적 102㎡초과  2015  10    2598
25    광주                 전체  2015  10    2420
26    광주         전용면적 60㎡이하  2015  10    2253
27    광주   전용면적 60㎡초과 85㎡이하  2015  10    2439
28    광주  전용면적 85㎡초과 102㎡이하  2015  10
29    광주        전용면적 102㎡초과  2015  10
...   ..                ...   ...  ..     ...
2860  충남                 전체  2018   7    2467
2861  충남         전용면적 60㎡이하  2018   7    2452
2862  충남   전용면적 60㎡초과 85㎡이하  2018   7    2467
2863  충남  전용면적 85㎡초과 102㎡이하  2018   7    2657
2864  충남        전용면적 102㎡초과  2018   7    2580
2865  전북                 전체  2018   7    2333
2866  전북         전용면적 60㎡이하  2018   7    2655
2867  전북   전용면적 60㎡초과 85㎡이하  2018   7    2306
2868  전북  전용면적 85㎡초과 102㎡이하  2018   7    2636
2869  전북        전용면적 102㎡초과  2018   7    2850
2870  전남                 전체  2018   7    2357
2871  전남         전용면적 60㎡이하  2018   7    2228
2872  전남   전용면적 60㎡초과 85㎡이하  2018   7    2348
2873  전남  전용면적 85㎡초과 102㎡이하  2018   7    2627
2874  전남        전용면적 102㎡초과  2018   7    2469
2875  경북                 전체  2018   7    2674
2876  경북         전용면적 60㎡이하  2018   7    2471
2877  경북   전용면적 60㎡초과 85㎡이하  2018   7    2654
2878  경북  전용면적 85㎡초과 102㎡이하  2018   7     NaN
2879  경북        전용면적 102㎡초과  2018   7    2903
2880  경남                 전체  2018   7    2696
2881  경남         전용면적 60㎡이하  2018   7    2748
2882  경남   전용면적 60㎡초과 85㎡이하  2018   7    2673
2883  경남  전용면적 85㎡초과 102㎡이하  2018   7    2857
2884  경남        전용면적 102㎡초과  2018   7    2839
2885  제주                 전체  2018   7    3334
2886  제주         전용면적 60㎡이하  2018   7     NaN
2887  제주   전용면적 60㎡초과 85㎡이하  2018   7    3356
2888  제주  전용면적 85㎡초과 102㎡이하  2018   7    3226
2889  제주        전용면적 102㎡초과  2018   7    2990

[2890 rows x 5 columns]

In [ ]:
'''
1. 5개 head
2. 5개 tail
3. null 보유 여부 확인
4. shape로 row수? columns수?
'''

In [ ]:
pre_sale.head()

In [ ]:
pre_sale.tail()

In [ ]:
if True in pre_sale.isna():
    print("있음")
else:
    print("없음")

In [ ]:
pre_sale['지역명'].isnull().sum()

In [ ]:
pre_sale['분양가격(㎡)'].isnull().sum()

In [ ]:
pre_sale.shape

In [ ]:
pre_sale.dtypes

In [ ]:
pre_sale.isnull().any()

In [ ]:
# 분양가격에는 null값 보유 따라서 null 개수를 제외한 유효한 데이터 개수 확인
pre_sale.info()

In [ ]:
pre_sale['분양가격(㎡)']

In [ ]:
# 분양가격(㎡)으로 새로운 컬럼을 도출(연산도 수행 가능한 타입으로 변환)
# row 데이터는 유지, 새로운 컬럼을 추가(분양가격, 평당분양가격)

# 존재하는 컬럼으로 새로운 Series 객체 생성
pre_sale_price = pre_sale['분양가격(㎡)'] # series를 새로 만들어줌
pre_sale_price

In [ ]:
#분양가격 새로운 컬럼 생성(타입은 숫자 왜? 연산 수행)
#숫자타입인 분양가격을 기반으로 평당분양가격 컬럼 생성
# * 3.3
'''
    errors='coerce' : 에러가 발생시 무시
    errors='raise': 에러 발생시 표현
'''
pre_sale['분양가격'] = pd.to_numeric(pre_sale_price, errors='coerce')

In [ ]:
pre_sale['분양가격'].dtype

In [ ]:
pre_sale['분양가격(㎡)'].dtype

In [ ]:
pre_sale

In [ ]:
# 평당분양가격 이라는 새로운 컬럼 생성해서 추가
# 분양가격 * 3.3 연산
pre_sale['평당분양가격'] = pd.to_numeric(pre_sale_price, errors='coerce')*3.3
pre_sale.head()

In [ ]:
# 결측치를 단순 메모장에서 필수로 확인
# 분양가격, 평당분양가격 컬럼은 공백도 null로 집계
pre_sale['분양가격(㎡)'].isna().sum()

In [ ]:
pre_sale['분양가격'].isna().sum()

In [ ]:
pre_sale['평당분양가격'].isna().sum()

In [ ]:
pre_sale.describe(include=[np.object])

In [ ]:
#연도 기준으로 2017년 데이터 검색
pre_sale[pre_sale['연도']==2017]

In [ ]:
nans = lambda df: df[df.isnull().any(axis=1)]
nans(pre_sale)

In [ ]:
#지역명 확인
pre_sale['지역명'].value_counts()

### 전국 평균 분양 가격

In [ ]:
#연도별 수치 타입인 분양가격과 평균분양가격 집계정보 확인
pre_sale.groupby(pre_sale.연도).describe().T

In [ ]:
pre_sale.pivot_table?

In [ ]:
#pre_sale.pivot_table(values=None, index=None, columns=None)

In [ ]:
'''
피벗 함수 이해를 위한 전처리
'''

In [ ]:
pre_sale.dtypes

In [ ]:
#전용면적 60m^2이하 인 데이터만 검색
a = pre_sale.loc[pre_sale['규모구분']=="전용면적 60㎡이하"]
a

In [ ]:
a.shape

In [ ]:
b = a.loc[a['연도']==2015]
b

In [ ]:
b.shape

In [ ]:
b['평당분양가격'].mean()

In [ ]:
#"평당분양가격"을 "규모구분"과 "연도" 별로 평균값 구하기
b.groupby(b.연도).describe()

In [ ]:
b.groupby(b.규모구분).describe()

#pre_sale.pivot_table(values=None, index=None, columns=None)
pre_sale.pivot_table("평당분양가격","규모구분","연도")

In [ ]:
#pre_sale.pivot_table(values=None, index=None, columns=None)
pre_sale.pivot_table("평당분양가격","규모구분","연도")

규모 구분이 전체로 되어 있는 금액으로 연도별 변동금액 알아보기

In [ ]:
all = pre_sale.loc[pre_sale['규모구분']=='전체']
all

In [ ]:
# 평당분양가격, 지역명, 연도 관련해 pivot_table()
yearUp = all.pivot_table("평당분양가격","지역명","연도")

In [ ]:
yearUp['변동액'] = yearUp[2018] - yearUp[2015]
yearUp

In [ ]:
# 소수 데이터들을 정수화 시킬수 있는 설정 + 천단위 쉼표 처리 추가
pd.options.display.float_format = '{:,.0f}'.format

In [ ]:
yearUp

In [ ]:
'''
? 지역별 평강 분양가격 합계 구하기
피벗의 인수값 : 평당분양가격, 규모구분, ?
'''
pre_sale.pivot_table("평당분양가격","규모구분","지역명")

In [ ]:
pre_sale.pivot_table("평당분양가격","규모구분","연도")

In [ ]:
pre_sale.pivot_table("평당분양가격","규모구분","월")

In [ ]:
pre_sale.pivot_table("평당분양가격","규모구분","분양가격")

In [ ]:
# avg15.09.csv로 DataFrame 객체 생성하기
df = pd.read_csv("avg15.09.csv", encoding="utf-8", skiprows=1)
df

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
year = df.iloc[0]
year

In [ ]:
month = df.iloc[1]
month

In [ ]:
'''
python의 enumerate() 함수의 메뉴얼 참조 필수

year과 month의 데이터를 결합해서 "2014년 4월" 형태로 가공 필수

1. join()/year[index]/month[index]...
2. 2014 이후 부터 2015년 이전까지 2014로 채우기
3. 2015년 이후는 2015로 채우기
'''
for i, y in enumerate(year):
    if i > 2 and i < 15:
        year[i] = ' '.join(['2014년', month[i]])
    elif i >= 15:
        year[i] = ' '.join(['2015년', month[i]])
    elif i == 2:
        year[i] = ' '.join([year[i], month[i]])
    elif i == 1:
        year[i] = '시구군'
year

In [ ]:
#df.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
df.columns = year
df.drop(index=[0,1], inplace=True)
df

In [ ]:
df = df.reset_index()
df = df.drop(columns='index')
df

In [ ]:
for x in range(21):    
    if x < 2:
        df['시구군'][x] = df['구분'][x]
    elif x >= 9 and x <= 11:
        df['시구군'][x] = df['구분'][x]
df.drop(columns='구분',inplace=True)
df

In [ ]:
df = df.fillna("")
df

In [ ]:
'''
df['구분'].fillna("",inplace=True)
df['시구군'].fillna("",inplace=True)
cat = df['구분']
city = df['시구군']
for i, y in enumerate(cat):
    if y=='6대광역시':
        df['시구군'][i] = city[i]
    elif y=='지방':
        df['시구군'][i] = city[i]
    else :
        df['시구군'][i]= ' '.join([y, city[i]])

del df['구분']

df
'''

In [ ]:
df.info()